version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:19.0.1
    steps:
      - checkout
      - run:
          name: Install npm
          command: |
            npm i
      - run:
          name: Lint the code
          command: |
            npm run lint

  test:
     docker:
      - image: cimg/node:19.0.1
     steps: 
      - checkout
      - run:
          name: Install npm
          command: |
            npm i      
      - run:
          name: Test the package
          command: |
            npm run test 
  analyze:
     docker:
      - image: cimg/node:19.0.1
     steps: 
      - checkout     
      - run:
          name: Analyze the code
          command: |
            npm audit
workflows:
  workspace-workflow:
    jobs:
      - build
      - test:
          requires:
            - build
      - analyze:
          requires:
            - test